PRIVATE_KEY=YOUR_WALLET_PRIVATE_KEY_HERE
KEEPER_PRIVATE_KEY=YOUR_KEEPER_PRIVATE_KEY_HERE
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
FHE_VAULT_ADDRESS=YOUR_EXISTING_VAULT_ADDRESS_HERE
NEXT_PUBLIC_FHE_COIN_FLIP_ADDRESS=
NEXT_PUBLIC_FHE_DICE_ADDRESS=
NEXT_PUBLIC_FHE_CRASH_ADDRESS=
NEXT_PUBLIC_FHE_VAULT_ADDRESS=
AWS_REGION=us-east-1
